extends layouts/main-layout.pug

include mixins/createProduct.pug


block content
    include includes/slider.pug

    .row
        if products.length >0
            each product in products
                +createProduct(product)
        else 
            h1 No Products
            

        //- .col-md-4
        //-     .card.my-3
        //-         img(src="/img/2.jpg" alt="").card-img-top
        //-         .card-body
        //-             h4.card-title
        //-                 a(href="#") Product Name
        //-             p.card-text.pt-2 Ürün ile ilgili açıklama
        //-         .card-footer
        //-             small.text-muted
        //-                 i.fas.fa-lira-sign 100
        //-             a(href="#").btn.btn-secondary.btn-sm.float-right
        //-                 i.fa.fa-angle-double-right Details 
        //- .col-md-4
        //-     .card.my-3
        //-         img(src="/img/3.jpg" alt="").card-img-top
        //-         .card-body
        //-             h4.card-title
        //-                 a(href="#") Product Name
        //-             p.card-text.pt-2 Ürün ile ilgili açıklama
        //-         .card-footer
        //-             small.text-muted
        //-                 i.fas.fa-lira-sign 100
        //-             a(href="#").btn.btn-secondary.btn-sm.float-right
        //-                 i.fa.fa-angle-double-right Details 
        //- .col-md-4
        //-     .card.my-3
        //-         img(src="/img/4.jpg" alt="").card-img-top
        //-         .card-body
        //-             h4.card-title
        //-                 a(href="#") Product Name
        //-             p.card-text.pt-2 Ürün ile ilgili açıklama
        //-         .card-footer
        //-             small.text-muted
        //-                 i.fas.fa-lira-sign 100
        //-             a(href="#").btn.btn-secondary.btn-sm.float-right
        //-                 i.fa.fa-angle-double-right Details 